.layout {
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sider {
    margin-top: 20px;
}

.logobox {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 30px;
    background: #fff;
    text-align: center;
    line-height: 50px;
}


.userbox {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin: 0 30px;
    background: #fff;
}

.topMenuItems {
    flex: 1;
    overflow: hidden;
}